@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
/*	Table of Content
 * ==================================================
 *	1. Site Styles
 *		1.1. Fonts & Color Palettes
 *		1.2. General Styles
 *		1.3. Navigations
 *	2. Page Styles
 *		2.1. General Styling
 *		2.2. Header & Call to Action
 *		2.3. Service
 *		2.4. Process
 *		2.5. About
 *		2.6. Footer
 *	3. Media Queries
 * ================================================== */
/* 1. Site Styles
 * 		1.1. Fonts & Color Palettes
 * ================================================== */
/* 1. Site Styles
 * 		1.2. General Styles
 * ================================================== */
/* line 48, ../sass/style.sass */
body {
  background: #f7f7f7;
  font-family: "Lato", sans-serif;
  color: #575756;
}

/* line 53, ../sass/style.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  color: #575756;
}

/* line 57, ../sass/style.sass */
a {
  color: #86cbcb;
}
/* line 59, ../sass/style.sass */
a:hover {
  color: #fcc400;
  transition: color 0.25s linear;
  -moz-transition: color 0.25s linear;
  -webkit-transition: color 0.25s linear;
}

/* 1. Site Styles
 * 		1.2. Navigations
 * ================================================== */
/* line 68, ../sass/style.sass */
header {
  background: white;
  padding: 0;
}
/* line 71, ../sass/style.sass */
header .bar {
  height: 10px;
  padding: 0;
  margin: 0;
  background-image: url("../images/bar.png");
  background-color: rgba(255, 255, 255, 0.5);
  background-repeat: repeat-x;
  background-position: top center;
}
/* line 80, ../sass/style.sass */
header img {
  margin: 20px;
  height: 40px;
}
/* line 83, ../sass/style.sass */
header nav {
  padding-top: 5px;
  padding-right: 15px;
}
/* line 87, ../sass/style.sass */
header nav ul.inline-list {
  margin: 0;
}
/* line 89, ../sass/style.sass */
header nav ul.inline-list li {
  margin: 0;
  padding: 0 15px;
  border-bottom: 1px solid #e6e6e6;
}
/* line 93, ../sass/style.sass */
header nav ul.inline-list li:hover {
  border-bottom: 1px solid #86cbcb;
  transition: border-bottom-color 0.5s linear;
  -moz-transition: border-bottom-color 0.5s linear;
  -webkit-transition: border-bottom-color 0.5s linear;
}
/* line 96, ../sass/style.sass */
header nav ul.inline-list li.active {
  border-bottom: 1px solid #86cbcb;
}
/* line 98, ../sass/style.sass */
header nav ul.inline-list li.active a {
  color: #86cbcb;
}
/* line 100, ../sass/style.sass */
header nav ul.inline-list li a {
  display: block;
  padding: 20px 0 10px;
  color: #575756;
  font-size: 1.125em;
  font-weight: 700;
}
/* line 108, ../sass/style.sass */
header nav ul.inline-list li a:hover {
  color: #86cbcb;
}

/* line 112, ../sass/style.sass */
[data-magellan-expedition] {
  background: white;
  background: -moz-linear-gradient(top, white 0%, rgba(255, 255, 255, 0.6) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, rgba(255, 255, 255, 0.6)));
  background: -webkit-linear-gradient(top, white 0%, rgba(255, 255, 255, 0.6) 100%);
  background: -o-linear-gradient(top, white 0%, rgba(255, 255, 255, 0.6) 100%);
  background: -ms-linear-gradient(top, white 0%, rgba(255, 255, 255, 0.6) 100%);
  background: linear-gradient(to bottom, #ffffff 0%, rgba(255, 255, 255, 0.6) 100%);
  box-shadow: 4px 0px 14px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 4px 0px 14px 2px rgba(0, 0, 0, 0.1);
  padding: 0;
  z-index: 99;
}

/* 2. Page Styles
 * 		2.1. General Styling
 * ================================================== */
/* line 130, ../sass/style.sass */
section {
  margin-top: 60px;
}
/* line 134, ../sass/style.sass */
section .title h2 {
  border-top: 10px solid #fcc400;
  padding-top: 10px;
  color: #fcc400;
  font-size: 3.75em;
  font-weight: 900;
}
/* line 141, ../sass/style.sass */
section .sub-title {
  padding-top: 20px;
}
/* line 143, ../sass/style.sass */
section .sub-title p {
  font-size: 1.5em;
  font-weight: 300;
}

/* 2. Page Styles
 * 		2.2. Call to Action
 * ================================================== */
/* line 152, ../sass/style.sass */
#call-to-action {
  margin-top: 0;
  position: relative;
  height: 450px;
  overflow: hidden;
}
/* line 157, ../sass/style.sass */
#call-to-action .background {
  position: absolute;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  overflow: hidden;
}
/* line 164, ../sass/style.sass */
#call-to-action .background img {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  width: 110%;
  height: auto;
  position: relative;
  top: -300px;
}
/* line 174, ../sass/style.sass */
#call-to-action .headline {
  position: absolute;
  width: 500px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -250px;
  z-index: 99;
}
/* line 183, ../sass/style.sass */
#call-to-action .headline span {
  color: white;
  font-weight: 300;
  position: absolute;
  top: -80px;
  right: 0;
}
/* line 190, ../sass/style.sass */
#call-to-action .headline span ol {
  margin-left: 20px;
}
/* line 192, ../sass/style.sass */
#call-to-action .headline h1 {
  color: white;
  font-size: 2.25em;
  font-weight: 700;
}
/* line 197, ../sass/style.sass */
#call-to-action .headline h3 {
  color: white;
}
/* line 199, ../sass/style.sass */
#call-to-action .headline p {
  color: white;
  font-style: italic;
}
/* line 202, ../sass/style.sass */
#call-to-action .headline img {
  width: 80%;
}

/* 2. Page Styles
 * 		2.3. Service
 * ================================================== */
/* line 210, ../sass/style.sass */
#service .title h2 {
  border-top-color: #86cbcb;
  color: #86cbcb;
}
/* line 216, ../sass/style.sass */
#service .content .icons-print {
  position: relative;
  left: 50%;
  margin-left: -53px;
  margin-bottom: 10px;
  background: url(../images/icons/print.png);
  width: 105px;
  height: 105px;
}
/* line 224, ../sass/style.sass */
#service .content .icons-print:hover {
  background: url(../images/icons/print-color.png);
}
/* line 216, ../sass/style.sass */
#service .content .icons-web {
  position: relative;
  left: 50%;
  margin-left: -53px;
  margin-bottom: 10px;
  background: url(../images/icons/web.png);
  width: 105px;
  height: 105px;
}
/* line 224, ../sass/style.sass */
#service .content .icons-web:hover {
  background: url(../images/icons/web-color.png);
}
/* line 216, ../sass/style.sass */
#service .content .icons-support {
  position: relative;
  left: 50%;
  margin-left: -53px;
  margin-bottom: 10px;
  background: url(../images/icons/support.png);
  width: 105px;
  height: 105px;
}
/* line 224, ../sass/style.sass */
#service .content .icons-support:hover {
  background: url(../images/icons/support-color.png);
}
/* line 226, ../sass/style.sass */
#service .content p {
  color: #b3b3b3;
}
/* line 228, ../sass/style.sass */
#service .bar-sep {
  width: 100%;
  height: auto;
}

/* 2. Page Styles
 * 		2.4. Process
 * ================================================== */
/* 2. Page Styles
 * 		2.5. About
 * ================================================== */
/* line 244, ../sass/style.sass */
#about .about-bg {
  background: #86cbcb;
  padding: 40px 0 20px;
  -webkit-box-shadow: inset 0px 8px 10px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0px 8px 10px 0px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0px 8px 10px 0px rgba(0, 0, 0, 0.05);
}
/* line 248, ../sass/style.sass */
#about .about-bg .title h2 {
  border-top-color: white;
  color: white;
}
/* line 251, ../sass/style.sass */
#about .about-bg .sub-title {
  color: white;
}

/* 2. Page Styles
 * 		2.6. Footer
 * ================================================== */
/* line 259, ../sass/style.sass */
footer {
  -webkit-box-shadow: 0px -8px 10px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px -8px 10px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px -8px 10px 0px rgba(0, 0, 0, 0.05);
  padding: 15px 0 0;
}
