/* 
* IdeaPuff Responsive v1.2
* Copyright 2013
* www.ideapuff.com
* Free to use under the MIT license.
* Written by Yuli Yang
*/

/* Table of Content
==================================================
    1. Site Styles
    2. Page Styles
    3. Media Queries
*/

/* 1. Site Styles
================================================== */
body {
    background: #fff;
}
h1 {
    color: #fff;
}
p {
    line-height: 160%;
    font-size: 0.9em;
    text-align: justify;
}
a {
    padding:0 3px 2px;
    font-size:100%;
    /*background:#87CBCC;*/
    font-weight:bold;
}
a:hover {
    /*background: #FCC400;*/
}
.topNav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background: white;
    background: -moz-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,1)),color-stop(100%,rgba(255,255,255,0.7)));
    background: -webkit-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 100%);
    background: -o-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 100%);
    background: -ms-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 100%);
    background: linear-gradient(to bottom,rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 100%);
    box-shadow:  4px 0px 14px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow:  4px 0px 14px 2px rgba(0, 0, 0, 0.1);
    z-index: 99;
}
nav {
    float: right;
}
nav ul {
    display: block;
}
nav ul li {
    display: inline;
    float: left;
    border-bottom: 1px solid #888;
    padding: 0 10px 10px 10px;
}
nav ul li a {
    display: block;
    color: #888;
    padding: 0 10px 0px 10px;
}
nav ul li a:hover {
    color: #87CBCC;
    border-bottom: 1px solid #87CBCC;
}
.background {
    width: 110%;
    position: absolute;
    top: -10px;
    left: -5%;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}

/* 2. Page Styles
================================================== */

/* 3. Media Queries
================================================== */

/* Screen size over 960px (devices and browsers) */
@media only screen and (min-width:1200px) {

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}